<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 raidprogress-column-header text-center">
    <span>Raid Progress</span>
  </div>
</div>

<div class="row">
  <!-- Battle of Dazara'lor -->
  <div class="col-xs-12 col-sm-12 col-md-12 text-center raidcontent-column-header bod-background">
    <div>
      <span>Battle of Dazara'lor</span>
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <span>{{normalBodProgression}}</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <span>{{heroicBodProgression}}</span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <span>{{mythicBodProgression}}</span>
      </div>
    </div>
  </div>
  <!-- Crucible of Storms -->
  <div class="col-xs-12 col-sm-12 col-md-12 text-center raidcontent-column-header cos-background">
    <span>Crucible of Storms</span>
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <span>{{normalCosProgression}}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <span>{{heroicCosProgression}}</span>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
      <span>{{mythicCosProgression}}</span>
    </div>
  </div>
</div>
