@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

h2 {
  text-align: center;
}
.has-error input[type="email"],
.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
}

.login-title {
  padding-top: 2em;
  margin-bottom: 2em;
  color: white;
}

.login-form-titles {
  color: white;
}

.email-error,
.password-error {
  color: #ff1d17;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.4),
  0 10px 15px rgba(0, 0, 0, 0.1),
  0 20px 26px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: #0003b8;
}

.login-background {
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background:
    linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),
    url('../../../assets/images/login-register-background.jpg');
}

.login-box {
  margin-left: 55em;
  padding-top: 30em;
  width: 50%;
}

.login-frame {
  background-color: rgba(20,20,20,0.7);
  border: .05em solid rgba(255,255,255,0.3);
  padding-bottom: 2em;
  width: 60%;
}



