<h2>
  Login Page
</h2>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="login-form">
        <div class="form-group">
          <p [ngClass]="{ 'has-error': formControls.username.touched && !formControls.username.valid}">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username">
          </p>
          <span *ngIf="formControls.username.touched && !formControls.username.valid">
            <p class="username-error">
              Your username must contain 6-16 characters. It supports letters and numbers
            </p>
          </span>
        </div>
        <div class="form-group">
          <p [ngClass]="{ 'has-error': formControls.password.touched && !formControls.password.valid }">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              formControlName="password">
          </p>
          <span *ngIf="formControls.password.touched && !formControls.password.valid" class="help-block">
            <p class="password-error">
              Password must contain 7 - 16 characters and it needs to include at least one upper case letter, and one lower case letter, and one numeric digit.
            </p>
          </span>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
