@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

h2 {
  text-align: center;
}

.has-error input[type="text"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
}

.login-title {
  padding-top: 2em;
  margin-bottom: 2em;
}

.username-error,
.password-error {
  color: rgb(230, 14, 14);
}

button[type="submit"]:hover {
    background-color: #0003b8;
}



