<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <img
        [src]="guildLogo"
        alt=""
        class="img-responsive guild-logo"
        style="padding-top: 3%">
    </div>
  </div>
  <div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12">
     <div class="logo-guildname-row">
       <img
         [src]="allianceLogo"
         alt=""
         class="img-responsive alliance-logo">
       <span class="guild-name">{{guildName}}</span>
     </div>
   </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-4">
      <p class="details-text-row">
        <!-- Language Section -->
        <span class="details-text text-uppercase p-2">Language:</span>
        <span class="details-text m-1 p-2">English</span>
        <!-- Realm Section -->
        <span class="details-text text-uppercase ml-5 p-2">Realm:</span>
        <span class="details-text m-1 p-2">Proudmoore</span>
        <!-- Mindset Section -->
        <span class="details-text text-uppercase ml-5 p-2">Mindset:</span>
        <span class="details-text m-1 p-2">Semi-Hardcore / Casual</span>
        <!-- Interests Section -->
        <span class="details-text text-uppercase ml-5 p-2">Interests:</span>
        <span class="details-text ml-1 p-2">Mythic+</span>
        <span class="details-text p-2 details-interest-border">Raiding</span>
        <span class="details-text p-2 details-interest-border">PvP</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-4">
      <div class="text-center">
        <button class="btn btn-primary text-uppercase apply-now-button">
          Apply Now
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mt-5 mx-auto text-center">
      <app-home-recruitment></app-home-recruitment>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-5 mx-auto">
      <app-home-news></app-home-news>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 mt-5 mx-auto text-center">
      <app-home-raidprogress></app-home-raidprogress>
    </div>
  </div>
</div>
