<!-- Footer -->
<footer class="page-footer font-small border border-dark fixed-bottom">
  <!-- Footer Links -->
  <div class="container-fluid text-center">
    <div class="row footer-component-bgcolor pt-4">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <h5 class="text-uppercase mb-4">Recruitment</h5>
        <p>{{recruitmentMessage}}</p>
      </div>

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto">
        <h5 class="text-uppercase mb-4">Useful Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">
            <a href="#">Home</a>
          </li>
          <li class="mb-2">
            <a href="#">News</a>
          </li>
          <li class="mb-2">
            <a href="#">About Us</a>
          </li>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-3 col-lg-3 col-xl-3  text-center mx-auto">
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Connect With Us</h5>
        <!-- Facebook -->
        <a href="#">
          <img
            [src]="facebookLogo"
            alt="Facebook"
            class="img-responsive social-media-buttons">
        </a>
        <!-- Twitter -->
        <a href="#">
          <img
            [src]="twitterLogo"
            alt="Twitter"
            class="img-responsive social-media-buttons">
        </a>
        <!-- Twitch-->
        <a href="#">
          <img
            [src]="twitchLogo"
            alt="Twitch"
            class="img-responsive social-media-buttons">
        </a>
        <!-- Youtube -->
        <a href="#">
          <img
            [src]="youtubeLogo"
            alt="Youtube"
            class="img-responsive social-media-buttons">
        </a>
        <!-- Discord -->
        <a href="#">
          <img
            [src]="discordLogo"
            alt="Discord"
            class="img-responsive social-media-buttons">
        </a>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="row footer-component-bgcolor">
    <div class="footer-copyright text-center py-3 mx-auto">
      <hr>
      © 2020 Copyright: Mahyar Babaie
      <p>World of Warcraft, Warcraft and Blizzard Entertainment are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the U.S. and/or other countries.</p>
    </div>
  </div>

</footer>
<!-- Footer -->
