<div class="home-background">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <img
          [src]="guildLogo"
          alt=""
          class="img-responsive guild-logo"
          style="padding-top: 3%">
      </div>
    </div>
    <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12">
       <div class="logo-guildname-row">
         <img
           [src]="allianceLogo"
           alt=""
           class="img-responsive alliance-logo">
         <span class="guild-name">{{guildName}}</span>
       </div>
     </div>
    </div>
</div>

