<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 news-column-header text-center">
    <span class="align-content-center">Guild News</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 news-column-body text-center">
    <span class="news-column-date">12/25/19</span>
    <p class="pt-2">
      Happy Holidays from Forever Forgotten. We will be having an optional raid this weekend.
      Friday and Saturday both will be Heroic Eternal Palace.
      Don't forget to sign up on the guild calendar to get priority invite.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 news-column-body text-center">
    <span class="news-column-date">12/11/19</span>
    <p class="pt-2">
      New Guild Ranks have been created. We have the Member title for casual players who just want to have a good time
      without the focus being on raiding or Mythic +.
      We have Raider ranks to display growth in our raiders and where they aspire to be. Mythic Raiders are players who
      want to raid at the highest level.
      Key M+ Member are players who just want to focus on pushing keys as their main priority.
    </p>
    <img
      [src]="guildRanksImage"
      alt=""
      class="img-responsive news-column-image">
  </div>
</div>
